@font-face {
font-family: 'OdibeeSans-Regular';
font-style: normal;
font-weight: normal;
src: local('OdibeeSans-Regular'), url('OdibeeSans-Regular.ttf') format('ttf');
}

h1 {
  font-family: 'OdibeeSans-Regular';
  font-weight: 200;
  color: yellow;
}